- # coding: utf-8
- if post then
  - post.errors.each do |k,v|
    %p= v[0]

%form{:id => "comment-form"}
  %table
    %tr
      %td 名前
      %td 
        %input{:type => "text", :name => "name", :id => "name"}
    %tr
      %td タイトル
      %td
        %input{:type => "text", :name => "title", :id => "title"}
    %tr
      %td 内容
      %td
        %textarea{:name => "message", :cols => 60, :rows => 8, :id => "message"}
    %tr
      %td
      %td
        %input{:type => "submit", :id => "mit"}
    .spinner
      %img{src: "indicator.white.gif"}


= partial_haml :paginate
.comments
  - @comments.each do |comment|
    .comment
      .info
        - if comment.title.empty? then
          %h2== (no title)
        - else
          %h2= h comment.title
        %span.auther== by #{h comment.auther}
        %span.date== (#{h comment.date})
      .message
        = comment.formatted_message
= partial_haml :paginate